.main-layout{
    border: 1px solid black;
    padding: 5%;
    margin: 2%;
    background: #EEE;
}

form#contactForm{
    width:100%;
}
li.nav-item button{
    margin: 5px;
}

.form-header{
    border-bottom: 1px solid #ccc;
}

h4.form-header{
    margin: 2% 0;
    padding: 5% 0;
}

.removeBtn{
    margin: 0;
    padding: 0;
    float: right;
}

.hide{
    visibility: hidden;
}

span.help-block.form-error {
    color: red;
    width: 50%;
    position: relative;
    right: -45%;
}

.add-contact-validation, .remove-contact-validation{
    color: red;
    margin: 5px 0;
}

.add-contact-success {
    color: green;
    padding: 10px;
}